[{{ project_name }}]
user = {{ app_user }}
group = {{ app_user }}
listen = /run/php/php{{ php_version }}-fpm-{{ project_name }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

chdir = {{ project_root }}/api/public

env[APP_ENV] = {{ 'dev' if deploy_environment == 'development' else 'prod' }}
env[APP_SECRET] = {{ app_secret | default('change_me_in_production') }}
env[DATABASE_URL] = "postgresql://{{ database_user }}:{{ database_password }}@localhost:5432/{{ database_name }}?serverVersion={{ postgresql_version }}&charset=utf8"
env[JWT_SECRET_KEY] = {{ project_root }}/api/config/jwt/private.pem
env[JWT_PUBLIC_KEY] = {{ project_root }}/api/config/jwt/public.pem
env[JWT_PASSPHRASE] = {{ jwt_passphrase }}
env[MERCURE_URL] = http://localhost:{{ mercure_port }}/.well-known/mercure
env[MERCURE_PUBLIC_URL] = http://localhost:{{ mercure_port }}/.well-known/mercure
env[MERCURE_JWT_SECRET] = {{ mercure_jwt_secret }}
