@if (loading()) {
    <app-spinner />
}
<app-layout>
    @if (!loading()) {
        <div class="menu-section">
            <h2>Main</h2>
            <nav class="menu">
                <a routerLink="/home" class="menu-item">Home</a>
            </nav>
        </div>

        @if (authService.hasRole('ROLE_SYSOP')) {
            <div class="menu-section">
                <h2>Sysop</h2>
                <nav class="menu">
                    <a routerLink="/admin/users" class="menu-item">User Management</a>
                </nav>
            </div>
        }
    }
</app-layout>
