---
- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Remove default nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Reload nginx

- name: Create nginx site configuration
  template:
    src: "{{ 'site-development.conf.j2' if environment == 'development' else 'site-production.conf.j2' }}"
    dest: "/etc/nginx/sites-available/{{ project_name }}.conf"
  notify: Reload nginx

- name: Enable nginx site
  file:
    src: "/etc/nginx/sites-available/{{ project_name }}.conf"
    dest: "/etc/nginx/sites-enabled/{{ project_name }}.conf"
    state: link
  notify: Reload nginx

- name: Ensure nginx is running
  service:
    name: nginx
    state: started
    enabled: yes
