# Production configuration
{% extends "site-base.conf.j2" %}

{% block extra_headers %}
    # Security headers
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-XSS-Protection "1; mode=block"
{% endblock %}

{% block logging %}
    ErrorLog ${APACHE_LOG_DIR}/{{ project_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ project_name }}_access.log combined
{% endblock %}
