---
- name: Create keyrings directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Ondrej Sury PHP repository key
  get_url:
    url: https://packages.sury.org/php/apt.gpg
    dest: /etc/apt/keyrings/php.gpg
    mode: '0644'

- name: Add Ondrej Sury PHP repository
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/php.gpg] https://packages.sury.org/php/ {{ ansible_distribution_release }} main"
    state: present
    filename: php

- name: Update apt cache after adding PHP repo
  apt:
    update_cache: yes

- name: Install PHP {{ php_version }} and extensions
  apt:
    name: "{{ php_extensions }}"
    state: present

- name: Check if Composer is installed
  stat:
    path: /usr/local/bin/composer
  register: composer_installed

- name: Download Composer installer
  get_url:
    url: https://getcomposer.org/installer
    dest: /tmp/composer-setup.php
  when: not composer_installed.stat.exists

- name: Install Composer
  command: php /tmp/composer-setup.php --install-dir=/usr/local/bin --filename=composer
  when: not composer_installed.stat.exists

- name: Remove Composer installer
  file:
    path: /tmp/composer-setup.php
    state: absent
  when: not composer_installed.stat.exists

- name: Check if Symfony CLI is installed
  stat:
    path: /usr/local/bin/symfony
  register: symfony_installed

- name: Download Symfony CLI installer
  get_url:
    url: https://get.symfony.com/cli/installer
    dest: /tmp/symfony-installer
    mode: "0755"
  when: not symfony_installed.stat.exists

- name: Install Symfony CLI
  shell: /tmp/symfony-installer --install-dir=/usr/local/bin
  when: not symfony_installed.stat.exists

- name: Remove Symfony installer
  file:
    path: /tmp/symfony-installer
    state: absent
  when: not symfony_installed.stat.exists

- name: Configure PHP-FPM pool for project
  template:
    src: php-fpm-pool.conf.j2
    dest: "/etc/php/{{ php_version }}/fpm/pool.d/{{ project_name }}.conf"
  notify: Restart PHP-FPM
